
@model int
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <h2>Plus Page</h2>
    <h3>@ViewBag.Message1 + @ViewBag.Message2 = @Model</h3>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
